*{margin: 0; padding: 0;}

li {list-style: none;}
a {text-decoration: none; color: gray;}
.clearfix::before , .clearfix::after {display: block; content: ''; clear: both;}

#wrap {width: 100%; margin: 0 auto; height: 1000px;}
#headerw {width: 100%; background: rgba(0,0,0,0.8); height: 30px; float: left;}
#headert {height: 30px;  width: 1500px; margin: 0 auto;}

.head1 {float: left; width: 500px; height: 0px; }

.head1 li {float: left; padding-top: 2px;}
.head1 li a {padding: 30px; font-size: 12px;}

.head2 {float: right;}
.head2 li {float: left; padding-top: 2px;}
.head2 li a {padding: 30px;font-size: 12px;}

#headerb {width: 100%; height: 70px; border-bottom: 3px solid saddlebrown; float: left; text-align: center;}
#headerw2 {width: 1500px; height: 70px;  margin: 0 auto;}
.headb1 {float: left; padding: 20px; width: 500px;}
.headb1 li {float: left; width: 25%;  }
.headb1 a { color:black; }
.headb2 {float: right; width: 500px;}
.headb2 li {float: left;width: 25%;   padding: 20px; }
.headb2 a { color:black; }
.logo {width: 200px; height: 70px; float: left; padding-left: 110px;}

#headerb  img {
    padding-top: 8px;
    width: 80px;
    transform: scale(1.1);
    transition: all .4s;
}

#headerb li:hover img{
    transform: scale(1.2);
    opacity: .7;
}

#slide {width: 100%; height: 600px; text-align: center; overflow: hidden;}

.slidelist {width: 100%; height: 600px; position: relative;}
.slideimg {position: relative;}
.slideimg img {width: 100%; height: 600px; display: block;}

#contents {width: 100%; height: 400px; text-align: center;}